<html>
<head>
<meta name="viewport" content="width=device-width; initial-scale=1.0;" />
<link rel="stylesheet" type="text/css" href="<%= paths.css("fragments") %>"></link>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
<script type="text/javascript" src="<%= paths.js("widths") %>"></script>
</head>
<body>
<%= body_text %>
</body>
</html>
